/CelsiusConverterProject/target/
/NetBeans/Sort/target/
/NetBeans/MoPhongThuatToanSapXep-master/nbproject/private/
/Java/MoPhongThuatToanSapXep-master/nbproject/private/
/NetBeans/MoPhongThuatToanSapXep-master/build/
/NetBeans/MoPhongThuatToanSapXep-master/dist/
/NetBeans/Producer_Consumer/target/
/NetBeans/Test/target/
