/*element selector*/
span {
    color: blueviolet;
    text-transform: uppercase;
}


/*id selector*/
#unique-1 { 
    color:lightgreen;
    /*áp dụng cho mọi phần tử có id="unique-1"*/
}
div#unique-2 {
    color: brown;
    /*chỉ áp dụng trên phần tử div có id="unique-2"*/
}
a#unique-3 {
    text-decoration: none;
    /*chỉ áp dụng trên phần tử a có id="unique-3"*/
}

#unique-1, #unique-2, #unique-3 {
    font-size: 16;
    /*3 id selector có chung property*/
}


/*class selector*/
.one {
    background-color: rgb(118, 182, 76);
}


/*selector list*/
a.link, #menu, .title, h1 {
    text-transform: capitalize;
}


/*attribute selector*/
a[href*="wikipedia"] {
    color: red;
}


/*adjacent sibling combinator*/
#first + li {
    border: solid 1px royalblue;
}


/*general sibling combinator*/
#second ~ li {
    border: solid 1px red;
}


/*child combinator*/
ul > li {
    border: solid 1px silver;
    list-style: none;
}


/*descendant combinator*/
ol li {
    border: solid 1px salmon;
}


/*universal selector*/
#last {
    border: 1px solid darkcyan;
}


/*pseudo class & pseudo element*/
#time:active{
    font-weight: bolder;
    background-color: gold;
}