@charset "utf-8";
:root {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #fe0200;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #1c9bef;
    --white: #fff;
    --gray: #6c757d;
    --dark: #000000;
    --dark-rgb: 00, 00, 00;
    --white-rgb: 245, 245, 247;
    --blue-rgb: 4, 112, 226;
    --cyan-rgb: 28, 155, 239;
    --red-rgb: 255, 100, 100;
    --font: Menlo, Monaco, monospace, sans-serif;
    background: rgba(var(--dark-rgb), 1.0);
}

@media (prefers-reduced-motion: no-preference) {
    :root {
    scroll-behavior: smooth;
    }
}

/* Layout */
.border-radius {
    border-radius: 5px;
}
.center {
    margin-left: auto !important;
    margin-right: auto !important;
}
.caption {
    position: absolute;
    right: 15%;
    bottom: 1.5rem;
    left: 15%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    text-align: center;
}

/* Button stretch */
@import url("https://bttn.surge.sh/");
.bttn-stretch {
  margin: 0;
  padding: 0;
  border-color: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border-width: 0;
  border-radius: 0;
  background: transparent;
  letter-spacing: 0
}

.bttn-stretch,
.bttn-stretch:after,
.bttn-stretch:before {
  -webkit-transition: all .2s cubic-bezier(.02, .01, .47, 1);
  transition: all .2s cubic-bezier(.02, .01, .47, 1)
}

.bttn-stretch:after,
.bttn-stretch:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  content: '';
  opacity: .65;
  -webkit-transform: scaleX(0);
  transform: scaleX(0)
}

.bttn-stretch:after {
  top: 0
}

.bttn-stretch:before {
  bottom: 0
}

.bttn-stretch:focus,
.bttn-stretch:hover {
  letter-spacing: 2px;
  opacity: .9;
  -webkit-transition: all .3s cubic-bezier(.02, .01, .47, 1);
  transition: all .3s cubic-bezier(.02, .01, .47, 1)
}

.bttn-stretch:focus:after,
.bttn-stretch:focus:before,
.bttn-stretch:hover:after,
.bttn-stretch:hover:before {
  opacity: 1;
  -webkit-transition: all .3s cubic-bezier(.02, .01, .47, 1);
  transition: all .3s cubic-bezier(.02, .01, .47, 1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}

/* Effect background */
.canvas {
	position: absolute;
	top: 0;
	left: 0;
}

/* Define*/
.red {
  color: var(--red);
}
.dark {
    color: var(--dark);
}
.gray {
    color: var(--gray);
}
.cyan {
  color: var(--cyan);
}
/* Define ... */
* {
  box-sizing: border-box;
  color: rgba(var(--white-rgb), 1);
  font-family: var(--font);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Header */
@import url('https://www.w3schools.com/howto/howto_js_navbar_sticky.asp');
@import url('https://www.youtube.com/watch?v=e5wjLZzMmYM');
.nav a {
  font-size: 0.7rem;
  padding: 8px 16px;
}
header a:hover {
  color: rgba(var(--red-rgb), 1);
}
.nav {
  display: flex;
  overflow: hidden;
  background: rgba(var(--white-rgb), 0.05);
  width: 100%;
  backdrop-filter: blur(5px);
}
.navbar {  
  display: flex;
  overflow: hidden;
  background: rgba(var(--white-rgb), 0.085);
  width: 100%;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(var(--white-rgb), 0.15);
}
.navbar a {
  display: block;
  text-align: center;
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Footer */
footer a {
  display: block;
  text-align: center;
  padding: 8px;
}
.listStyleNone {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-end {
  justify-content: flex-end;
}
.justify {
  justify-content: space-between;
}
.button {
  font-weight: 400;
  color: #212529;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: rgba(var(--white-rgb), 0.5);
  border: 1px solid rgba(var(--white-rgb), 0.15);
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 5px;
  margin: 5px;
}
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}
.button:hover {
  background: rgba(var(--white-rgb), 1);
}