[title] {

}

p, h1 { /* Chính nó */
    color: red;

}

div p { /* Lấy mọi thẻ p nằm trong thẻ div - con, cháu - */
    color: gold;
}

div > p { /* Lấy các thẻ p nằm trong thẻ div, div chỉ hơn p một tab - con -*/
    color: lightblue;
}

div + p { /* Lấy 1 thẻ p dầu tiên sau div, ngang với div - anh em gần nhất - */
    color: lightcoral;
}

div ~ p { /* Lấy mọi thẻ p sau div, ngang với div - anh em - */
    color: lightgreen;
}