* {
    box-sizing: border-box;
}


/* slider ảnh */

.slider {
    margin: 10px 0;
}

.slider,
.slider>div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 300px;
    /* height: 100vh; */
    /* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #000; */
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider>div {
    position: absolute;
}

.slider>i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slider>i svg {
    margin-top: 3px;
}

.slider>.left {
    left: -100px;
}

.slider>.right {
    right: -100px;
}

.slider:hover>.left {
    left: 0;
}

.slider:hover>.right {
    right: 0;
}

.slider>i:hover {
    background: #fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.slider>i.right:hover {
    transform: translateX(2px);
}

.slider>i.right:active,
.slider>i.left:active {
    transform: translateY(1px);
}

.slider:hover>div {
    transform: scale(1.01);
}

.slider>div span {
    display: block;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
}

h2 {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 100;
}

.collapse {
    margin-left: 30px;
}

nav {
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Paytone One';
    color: red !important;
    font-weight: bold;
}

.menu>a {
    margin-right: 10px;
    transition: 0.5s;
    font-size: 18px;
}

.menu a>svg {
    margin-bottom: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link:hover {
    color: black !important;
    font-weight: bold;
    text-shadow: 4px 4px 5px #c4b59d;
}

nav {
    padding: 40px;
}

.listMember {
    list-style: none;
}

.containerICT {
    margin-top: 5%;
    border-radius: 10px;
}

.ICT {
    padding: 15px;
}

.hrict {
    margin-top: -15px;
}

.hr1 {
    margin: 20px 0;
    border-style: dashed;
}

img {
    border-radius: 5px;
}

.imgnew {
    float: left;
}

.imgleft {
    float: right;
}

a {
    text-decoration: none;
    color: black;
}

.listnew {
    margin-bottom: 20%;
}

.h1fter {
    font-family: 'Paytone One';
    color: red !important;
    font-weight: bold;
    float: left !important;
}

.mainict {
    background-color: white;
    box-shadow: black 0 0 5px;
}

.delay-M {
    animation-delay: 0.5s;
}

.delay-I {
    animation-delay: 1.5s;
}

.btn-outline-info {
    margin-left: 10px;
}


/* back top */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    z-index: 99;
    font-weight: bold;
    /* display: none; */
}

.btn svg {
    /* margin-right: 30px; */
}