body {
    width: 1024px;
    font-size: 1.2em;

    position: 0px;
    /* display: grid; */
    margin: 0px auto;
    border: 1px;
    padding: 0px 5px;
    font-family: Arial, Helvetica, sans-serif;

    overflow: auto;
}
main {

    
    display: grid;
    /* grid-area: main-cell; */
    border: 1px #ccc7c8;
    padding: 0px 5px;
    background-color: #fff;
}
aside {
    margin: 2px;
    padding: 5px;
    color: #000;
}



header {
    height: 100px;
    /* grid-area: header-cell; */
    background: url("images/header-img1.png"), url("images/header-img2.png"), url("images/header-img3.png"), url("images/header.png");;
    background-position: 20% 0px, 50% 0, 80% 0, 0 0;
    animation-name: background_animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-size: contain;
    background-repeat: no-repeat;
    
    border-radius: 5px;
}
nav {
    /* grid-area: nav-cell; */
    margin-top: 20px;
}
nav > a {
    height: 20px;
    color: #ed4190;
    font-size: 17px;
    background-color: #ffffff80;

    margin: 3px;
    border: 1px solid #fff;
    padding: 2px 4px;

    /* text-shadow: 0 0 3px 0 #00000066; */
    text-shadow: 0 0 2px 0 #0000004d;
    
}
nav > a:hover {
    color:#fff;
    background-color: #ed4190;
}
footer {
    /* grid-area: footer-cell; */
    margin: 2px;
    color: #000;
    border: 1px #ccc7c8;
    padding: 0px 5px;

}

nav > div {
    padding-top: 3px;
    float: right;
}

nav > div > a.search, a.cart {
    padding: 4px;
    min-width: 30px;
    color: #fff;
    background-color: #cddc39;
}

nav > div > a.cart:hover {
    color: #ed4190;
}

body img, video, footer, nav a, footer, h1 {
    border-radius: 5px;
    text-align: center;
}

footer a {
    color:#ed4190;
    text-decoration: none;;
}

a.top {
    position: fixed;
    right: 10px;
    bottom: 5px;
    padding: 10px;
    background-image: url("images/top.png");
    z-index: 100;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 5%;
    height: 10%;
}

@keyframes background_animation {
    70% { background-image: url("images/header.png"); }
    30% { background-image: url("images/header-img1.png"), url("images/header-img2.png"), url("images/header-img3.png"), url("images/header.png"); }
}
