/* Chung */ /* 1 */
body, main, .oneCol, .rightTwoCol, .leftTwoCol, .threeCol {
    display: grid;
}

header, main, footer {
    border: 1px solid #ccc7c8;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    font: 1.2em Arial, Helvetica, sans-serif;
    grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell";
}

main {
    grid-area: main-cell;
}

main .oneCol {
    grid-template-areas:
    "left-cell"
    "article-cell"
    "right-cell";
}

main .rightTwoCol {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "left-cell article-cell";
}

main .leftTwoCol {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "article-cell right-cell";
}

main .threeCol {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "left-cell article-cell right-cell";
}

.left, .right, .article-cell{
    margin-bottom: 5px;
    padding: 0 5px;
    text-align: justify;
    text-justify: inter-word;
}

.article-cell p {
    margin-top: 0;
}

.left {
    grid-area: left-cell;
}

.right {
    grid-area: right-cell;
}

.article-cell {
    grid-area: article-cell;
}

body, header, footer {
    padding: 0 5px;
    border: 1px;
}

header, main img, footer, nav a, div.cart > div, main, section.type > div {
    border-radius: 5px;
}

header {
    grid-area: header-cell;
    margin-bottom: 2px;
    border-color: #ccc7c8;
    height: 100px;
    background-image: url("images/header.png");
}

.img1, .img2, .img3 {
    position: absolute;
}

.img1 {
    height: 100px;
    top: -30px;
    animation: aniImg1 3s both;
}

@keyframes aniImg1 {
    0% {
        left: 80%;
    }
    100% {
        left: 30%;
    }
}

.img2 {
    height: 70px;
    top: -5px;
    animation: aniImg2 3s both;
}

@keyframes aniImg2 {
    0% {
        left: 80%;
    }
    100% {
        left: 45%;
    }
}

.img3 {
    height: 80px;
    top: 0;
    animation: aniImg3 3s both;
}

@keyframes aniImg3 {
    0% {
        left: 80%;
    }
    100% {
        left: 63%;
    }
}

nav {
    margin-top: 20px;
}

nav a {
    top: 0;
    margin: 3px;
    border: 1px solid #fff;
    padding: 2px 4px;
    height: 20px;
    text-align: center;
    color: #ed4190;
    font-size: 17px;
    background-color: #ffffff80;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    background-color: #ed4190;
}

nav > div {
    display: inline-block;
}

/* Searchbar */
div.searchbar {
    padding-top: 3px;
    float: right;
}

.searchbottom, .cartbottom {
    padding: 4px;
    min-width: 30px;
    text-align: center;
    color: #fff;
    background-color: #cddc39;
}

.cartbottom, footer a i, .topbottom {
    color: #ed4190;
}

/* Footer */
footer {
    grid-area: footer-cell;
    margin-top: 2px;
    padding-top: 5px;
    border: 1px solid #ccc7c8;
    text-align: center;
    color: #000;
}

.topbottom {
    position: fixed;
    right: 10px;
    bottom: 5px;
    padding: 10px;
    text-align: center;
    z-index: 100;
}

/* 2 */
/* Trang chu */
h1, h2, h3 {
    font-weight: 300;
    font-family: Open Sand, sans-serif;
    color: #f90b6d;
}

h1 {
    font-size: 28px;
    line-height: 34px;
    margin: 12px 0 16px;
    text-transform: uppercase;
    text-align: center;
}

h1::after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    margin: 12px 0 16px;
    width: 200px;
    height: 3px;
    transform: skewX(-12deg) translateX(-50%);
    background: radial-gradient(#cddc39, #fff);
}

h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 5px 0 10px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 5px 0 10px;
}

div.twoCol {
    column-count: 2;
}

.breakColumn {
    break-before: column;
}

div.cart {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}
div.cart > div {
    display: inline-block;
    border: 1px solid #ed4190;
    padding-top: 5px;
    width: 24%;
}

/* 3 */
/* San pham */
div img {
    display: block;
    margin: auto;
}

section.type h2 {
    text-align: center;
}
section.type {
    /* position: fixed; */
    justify-content: space-evenly;
    display: flex;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /* color: #ed4190; */

}
section.type > div {
    justify-content: s;
    flex-direction: column;
    background: linear-gradient(to top, #ccdc39 0%, rgba(0, 0, 0 , 0) 10%);
    display: flex;
    margin: 3px;
    border: 1px solid #dbd7d9;
    padding: 0;
    width: 33%;
    /* color: #ed4190; */
    text-align: center;
}

section.type input {
    width: 20%;
}

/* 4 */
/* Cac site con lai */

/* Lien he */
fieldset {
    border: 0;
}

main table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.contact img {
    display: inline-block;
    height: 20px;
    padding: 2px 5px;
    background: #ccdc39;
    margin: 0 10px;
    border-radius: 0;
}
.note {
    vertical-align: bottom;
}

/* Gioi thieu */
.induction img, .news .left img{
    width: 100%;
}

/* Tin tuc */
.news .article-cell img {
    overflow: auto;
    float: right;
    width: 30%;
    margin-left: 10px;
}

/* Dang ky */
.register {
    margin-top: 10%;
}

.register table, .login table, .contact table {
    width: 50%;
    border-spacing: 0;
    
}
.register td, .login td, .contact td {
    display: inline-block;
    padding: 0 5px 0 0;
}

.register i, .login i, .contact i{
    color: #fff;
    background: #ccdc39;
    padding: 5px;
}

i.file {
    padding: 7px 8.5px;
}

/* Dang nhap */
.login, .contact {
    margin-top: 5%;
}
.login img {
    width: 50%;
}